@{
    ViewData["Title"] = "Home ITLab";
}

<div class="text-center">
    <h1 class="display-4">Welkom - ITLab</h1>
    <p>
        Welkom op de webapplicatie van het ITLab.
    </p>
    <img src = "~/images/logoITLab.png" />
</div>
