@model  ITLabNET.Models.SessieViewModels.AanwezigheidViewModelBarcode
@{
    ViewData["Title"] = "AanwezighedenRegistreren";
    var inschrijvingen = (IEnumerable<Inschrijving>)ViewData["ingeschrevenen"];
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<h1>AanwezighedenRegistreren</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Barcode"></label>
        <input asp-for="Barcode" class="form-control" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Aanmelden</button>
        <a class="btn btn-secondary" asp-controller="Sessie" asp-action="SessieSluiten" asp-route-id="@ViewData["sessieId"]" >Sessie sluiten</a>
    </div>
    <div>
        <p>
            <a asp-controller="Sessie" asp-action="AanwezighedenRegistrerenGebruikersnaam" asp-route-id="@ViewData["sessieId"]">Studentenkaart vergeten?</a>
        </p>
    </div>        
        <table class="table">
            <tr>
                <th>Naam</th>                
            </tr>
            @foreach (var inschrijving in inschrijvingen)
            {
                <tr>
                    <td>@inschrijving.Gebruiker.Naam</td>                
                </tr>

            }
        </table>
    

</form>


 