@model  ITLabNET.Models.SessieViewModels.AanwezigheidViewModel
@{
    ViewData["Title"] = "AanwezighedenRegistreren";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<h1>AanwezighedenRegistreren</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Barcode"></label>
        <input asp-for="Barcode" class="form-control" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Aanmelden</button>
    </div>

</form>


 