@model ITLabNET.Models.SessieViewModels.KalenderViewModels
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<h1>Index</h1>

